body {
    background-color:  #101112;
    color: #E6E6E6;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: linear-gradient(#161617, #141516);
    width: 100%;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

.ulnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.ulnav li {
    list-style: none;
}

.ulnav li img {
    width: 55px;
    opacity: 0.9;
    transition: 0.3s;
}

.ulnav li img:hover {
    opacity: 1;
}

.ulnav li a {
    text-decoration: none;
    color: #E6E6E6;
    padding: 10px 12px;
    border-radius: 2px;
    transition: 0.4s ease;
    font-weight: bold;
}

.ulnav li a:hover {
    background-color: #F4A259;
    color: #1b1b1b;
}

main {
    padding: 40px 0;
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

hr {
    width: 80%;
    border: none;
    height: 1px;
    background-color: #2a2a2a;
    margin: 40px auto;
}

.cardhr {
    margin: 0px auto;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
    width: 80%;
    margin: 10px auto;
}

.card {
    background-color: #161617;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 3px 2px #F4A259;
}

.card img {
    width: 100%;
    height: 400px;
    border-radius: 2px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 26px;
    margin-top: 15px;
    color: #F4A259;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    font-size: 16px;
}

.card button {
    margin-top: 15px;
    padding: 12px 38px;
    background-color: #F4A259;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #1b1b1b;
    font-family: 'Inter';
    transition: 0.3s;
    font-weight: bold;
}


.card button:hover {
    opacity: 0.9;
}

footer {
    margin-top: 50px;
    padding-bottom: 40px;
}

footer a img {
    height: 45px;
    margin: 10px auto;
    display: block;
    opacity: 0.8;
    transition: 0.3s;
}

footer a img:hover {
    opacity: 1;
}

footer p {
    text-align: center;
    line-height: 1.6em;
    color: #bfbfbf;
}
