body {
    background-color: #0f1215;
    color: #E6E6E6;
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

main {
    background-image: linear-gradient(#161617, #141516);
    padding-bottom: 20px;   
}

.navbar {
    background-image: linear-gradient(#161617, #141516);
    width: 100%;
    height: 50px;
    top: 0;
    padding: 20px 0px;
    margin: 0;
    z-index: 10;
    position: sticky;
    box-shadow: 1px 1px 5px 1px rgb(10, 10, 10);
}

.ulnav li img {
    width: 55px;
    margin-bottom: -20px;
}

.ulnav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0;
}

.ulnav li {
    list-style: none;
    
}

.ulnav li a {
    text-decoration: none;
    color: #E6E6E6;
    padding: 9px;
    transition: 0.4s ease; 
    border-radius: 7px;
}

.ulnav li a:hover {
    background-color: #F4A259;
}

.bannerinicial {
    width: 100%;
    display: flex;
    position: relative;
    background-image: url("/imgs/bannerini.png");
    background-size: 100%;
    height: 400px;
    align-items: center;
}

.bannerinicialtext {
    text-align: left;
    margin: auto auto auto 5%;
}

.bannerinicialtext h1 {
    font-size: 50px;
    text-decoration: underline;
    background-color: #608512;
    margin-bottom: -25px;
}


#saudacao {
    text-align: center;
    font-size: 40px;
}

.introducao {
    display: flex;
    margin: 40px auto;
    gap: 50px;
    justify-content: center;
}

.introducao img {
    border-radius: 4px;
    width: 550px;
    height: auto;
    object-fit: cover;
}

.introducaotext {
    width: 30%;
}

.introducaotext h3 {
    font-size: 40px;
    margin-bottom: -5px;
    margin-top: 0px;
    color: #F4A259;
}

.introducaotext p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6em;
    
}

hr {
}

footer a {
    display: block;
    text-align: center;
}

footer a img {
    height: 45px;
    margin: 10px auto -5px auto;
}

footer p {
    text-align: center;
    line-height: 1.6em;
}