body {
    background-color:  #101112;
    color: #E6E6E6;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: linear-gradient(#161617, #141516);
    width: 100%;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

.ulnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.ulnav li {
    list-style: none;
}

.ulnav li img {
    width: 55px;
    opacity: 0.9;
    transition: 0.3s;
}

.ulnav li img:hover {
    opacity: 1;
}

.ulnav li a {
    text-decoration: none;
    color: #E6E6E6;
    padding: 10px 12px;
    border-radius: 2px;
    transition: 0.4s ease;
    font-weight: bold;
}

.ulnav li a:hover {
    background-color: #F4A259;
    color: #1b1b1b;
}

.container {
    background-color: #161617;
    padding: 20px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.7);
    width: 370px;
}

.container h1 {
    font-size: 36px;
    font-weight: bold;
}

.container form label {
    font-size: 20px;
}

input{
    width: 90%;
    border: 1.5px solid #404040;
    border-radius: 2px;
    padding:  6px 8px;
    margin: 6px auto 35px auto;
    font-size: 18px;
    background-color: #1b1b1b;
    transition: 0.4s ease;
}

input:focus {
    border: 1.5px solid #F4A259;
    outline: none;
}

button {
    padding: 8px 48px;
    background-color: #F4A259;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #1b1b1b;
    font-family: 'Inter';
    transition: 0.3s;
    font-weight: bold;
    transition: 0.2s ease;
}


button:hover {
    opacity: 0.8;
}



.container a {
    color: #8c7663;
    margin-left: 5%;
    transition: 0.2s ease;
}

hr {
    width: 80%;
    border: none;
    height: 1px;
    background-color: #2a2a2a;
    margin: 140px auto 40px auto;
}

.container a:hover {
    opacity: 0.8;
}


footer {
    margin-top: 50px;
    padding-bottom: 40px;
}

footer a img {
    height: 45px;
    margin: 10px auto;
    display: block;
    opacity: 0.8;
    transition: 0.3s;
}

footer a img:hover {
    opacity: 1;
}

footer p {
    text-align: center;
    line-height: 1.6em;
    color: #bfbfbf;
}
