body {
    background-color: #0f1215;
    color: #E6E6E6;
    font-family: 'Inter';
    padding: 0;
    margin: 0;

}

main {
    background-image: linear-gradient(#161617, #141516);
}

.navbar {
    background-image: linear-gradient(#161617, #141516);
    width: 100%;
    height: 50px;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
    position: sticky;
}

.ulnav li img {
    width: 55px;
    margin-bottom: -20px;
}

.ulnav {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 20px;
}

.ulnav li {
    list-style: none;
    
}

.ulnav li a {
    text-decoration: none;
    color: #E6E6E6;
    padding: 10px;
    transition: 0.4s ease; 
    /*preciso melhorar essa transition depoisss */
    border-radius: 10px;
}

.ulnav li a:hover {
    border: 3px solid #F4A259;
}

.bannerinicial {
    width: 100%;
    display: flex;
    position: relative;
    background-image: url("/imgs/bannerini.png");
    background-size: 100%;
    height: 400px;
    align-items: center;
}

.bannerinicialtext {
    text-align: left;
    margin: auto auto auto 30px;
}

.bannerinicialtext h1 {
    font-size: 50px;
    margin-bottom: -25px;
}

#saudacao {
    text-align: center;
    font-size: 40px;
}

.introducao {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.introducao img {
    border-radius: 15px;
}

.introducaotext {
    width: 50%;
}

.introducaotext h3 {
    font-size: 30px;
    margin-bottom: -5px;
}

.introducaotext p {
    text-align: justify;
    width: 80%;
}